* {
    font-size: 20px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
  }
  
  nav {
    background: linear-gradient(
      90deg,
      rgb(56, 59, 61) 0%,
      rgba(69, 71, 92, 0.871) 100%
    );
  }
  
  body {
    background: linear-gradient(
      90deg,
      rgb(32, 24, 23) 0%,
      rgba(13, 19, 92, 0.871) 100%
    );
  }
  
  .heading-container {
    display: flex;
    justify-content: space-between;
  }
  
  #profile-page {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  #profile-page, #wishlist, #sign-out {
    text-decoration: none;
    color: rgb(146, 148, 151);
  }
  
  header {
    background: linear-gradient(
      90deg,
      rgb(56, 59, 61) 0%,
      rgba(69, 71, 92, 0.871) 100%
    );
    border: 5px solid gray;
    padding-bottom: 3rem;
    color: white;
  }
  
  .profile {
    padding: 1rem 0rem 0rem 1rem;
  }
  
  #profile-pic {
    height: 90%;
    width: 40%;
    border-radius: 100%;
  }

  
 #gamecard {
  text-align: center;
  background-color: black;
  width: 50%;
  margin-top: 4rem;
  margin-bottom: 10rem;
  border-radius: 50px;
  }

  #game-title {
    width: 100%;
  }
  
  .single-game-image {
    width: 100%;
    border-radius: 50px 50px 50px 50px;
  }
  
  .gaming:hover {
    border: 10px solid rgb(87, 84, 84);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.779);
  }

  .game-home {
    margin-top: 5rem;
    padding: 8rem;
    border: 5px solid white;
  }

  #saveBtn {
    color: aliceblue;
    background: linear-gradient(
      90deg,
      rgb(47, 138, 199) 20%,
      rgba(4, 25, 255, 0.871) 80%
    );
    border: 5px solid black;
    height: 4rem;
  }

  #saveBtn:hover {
    background: linear-gradient(
      90deg,
      rgb(47, 138, 199) 20%,
      rgba(4, 25, 255, 0.871) 80%
    );
    border: 5px solid black;
    height: 4rem;
    transform: scale(1.2);
    color: rgb(0, 5, 8);
  }