* {
  font-size: 20px;
  font-weight: bolder;
}
nav {
  background: linear-gradient(
    90deg,
    rgb(56, 59, 61) 0%,
    rgba(69, 71, 92, 0.871) 100%
  );
}
body {
  background: linear-gradient(
    90deg,
    rgb(32, 24, 23) 0%,
    rgba(13, 19, 92, 0.871) 100%
  );
}
.search-bar {
  margin-top: 2rem;
  width: 40%;
}

.container-fluid {
  color: white;
}

#pop {
.container-fluid {
  color: white;
}
#pop{
    margin-top: 8rem;
    text-align: center;
    font-size: 2rem;
    color: white;
}

.popular {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.row {
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
    text-align: center;
}


.card {
  display: flex;
  background-color: black;
  width: 90%;
.row {
  color: white;
  text-align: center;
  display: grid;
  grid-template-rows: auto;
  grid-gap: 10px;
  /* background-color: #2196F3; */
  padding: 10px;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.image {
  width: 100%;
  height: 80%;
}
.content {
  height: 40%;
  overflow-y: scroll;
}
.content::-webkit-scrollbar {
  display: none;
  }
.card {
  display: flex;
  background-color: black;
  width: 60%;
  height: 40rem;
  border-radius: 50px;
}

.content {
  height: 20%;
  overflow-y: scroll;
}

.content::-webkit-scrollbar {
  display: none;
  }

.image {
  height: 80%;
}



.card-img-top {
    border-radius: 50px 50px 0px 0px;
}
.card:hover {
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.779);
}

@media screen and (max-width: 2040px) {
@media screen and (max-width: 3200px) {
  .container-fluid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .card {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    align-items: center;
    text-align: center;
    width: 80%;
    height: 40rem;
  }

}
}
