* {
  font-size: 20px;
  font-weight: bolder;
}
nav {
  background: linear-gradient(
    90deg,
    rgb(56, 59, 61) 0%,
    rgba(69, 71, 92, 0.871) 100%
  );
}

.login {
  margin-right: 1rem;
}

body {
  background: linear-gradient(
    90deg,
    rgb(32, 24, 23) 0%,
    rgba(13, 19, 92, 0.871) 100%
  );
}

#pop {
  color:white;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  font-size: 4rem;
}

.search-bar {
  margin-top: 2rem;
}

#game {
  width: 50%;
}

.popular {
  color: white;
  width: 90%;
}


.col {
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
}

.content {
  height: 10rem;
  overflow-y: scroll;
}

.content::-webkit-scrollbar {
  display: none;
 }

.mainpage {
  display: flex;
  margin-top: 5rem;
  max-width: 20rem;
  background-color: black;
  border-radius: 50px;
  margin-right: 4rem;
}

.image {
    border-radius: 50px 50px 0px 0px;
    width: 20rem;
    height: 20rem;
}
.mainpage {
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.779);
}

@media screen and (max-width: 3200px) {
  .container-fluid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .mainpage {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
  }
}

